:root {
  background-color: var(--app-background);

  --app-background: #f1e9e0;
  --updated-background: #f5b368;
  --header-border: #f7a03d;
  --header-title: #59350b;
  --pressed-button: #645a4d;
}

body {
  margin: 0;
}
